[submodule "qtmediahub-core"]
	path = qtmediahub-core
	url = git://gitorious.org/qtmediahub/qtmediahub-core.git
[submodule "skins/confluence"]
	path = skins/confluence
	url = git://gitorious.org/qtmediahub/confluence.git
[submodule "skins/delphin"]
	path = skins/delphin
	url = git://gitorious.org/qtmediahub/delphin.git
[submodule "skins/rapid"]
	path = skins/rapid
	url = git://gitorious.org/qtmediahub/rapid.git
[submodule "skins/original-remote"]
	path = skins/original-remote
	url = git://gitorious.org/qtmediahub/original-remote.git
[submodule "apps"]
	path = apps
	url = git://gitorious.org/qtmediahub/apps.git
[submodule "meegoremote"]
	path = meegoremote
	url = git://gitorious.org/qtmediahub/meegoremote.git
[submodule "skins/orca"]
	path = skins/orca
	url = git://gitorious.org/qtmediahub/orca.git
[submodule "skins/shroomfluence"]
	path = skins/shroomfluence
	url = git://gitorious.org/qtmediahub/shroomfluence.git
[submodule "skins/matinee"]
	path = skins/matinee
	url = git://gitorious.org/qtmediahub/matinee.git
